[2015-12-29 10:33] wallento opened #3 "Installation relocation"
Add relocation script to the installation similar as with the prebuilt programs.

[2015-12-29 11:05] wallento opened #5 "Make OPTIMSOC_RTL a list"
Currently we only support one OPTIMSOC_RTL directory, make it a list with precedence in the order. Give a warning if a module shadows another.

[2016-02-29 12:04] imphil commented on #3
Fixed with PR #9

[2016-02-29 12:04] #3 closed

[2016-03-08 10:25] imphil opened #10 "Don't re-run autogen if dependencies didn't change"
Currently the build time for an incremental build (2nd `make`) is mainly dominated by calling autogen. To gain faster build times, we should avoid that if configure.ac and other dependencies didn't change.

[2016-03-08 10:27] imphil opened #11 "Do parallel builds"
We currently call `make` of the individual components without `-j x`. We could define -jx based on the number of cpus*2-1 (or similar), and use that as default.

[2016-04-14 14:09] wallento opened #13 "Replace RTL defines with parameters where possible"

[2016-04-14 16:06] anapetrovska opened #14 "verilator simlib --meminit does not accept absolut paths"
When running
[code]
The program finishes, but when running
[code]
we only get
[code]

and the program never finishes. Any ideas?

[2016-04-14 16:13] wallento commented on #14
Hi Ana,

yes, I think I know the source of the problem.The length is limited currently. I can fix this in a few minutes. Can you meanwhile verify that you are running verilator after version 3.882 or newer?

Thanks,
Stefan

[2016-04-14 16:14] wallento commented on #14
To be more precise, the problem is most probably here: https://github.com/optimsoc/sources/blob/master/src/host/sim/src/VerilatedControl.cpp#L74

[2016-04-14 17:04] imphil commented on #14
more than 16 characters seems to work, only absolute paths don't (or a different length > 16).

Verilator: same for 880 and 882

[2016-04-14 17:06] wallento commented on #14
The code needs to be changed for the new verilator feature (I added strings as parameters instead of files). I think its 16*4. How long is your path?

[2016-04-14 17:06] imphil commented on #14
We solved it for now using a relative path, so no hurry here if it needs to change anyways.

[2016-04-14 17:07] wallento commented on #14
okay, I will update it anyways the next minutes (packaging verilator currently) and lets see if it solves the issue.

[2016-08-10 23:43] imphil commented on #5
Not needed any more with fusesoc support.

[2016-08-10 23:43] #5 closed

[2016-08-28 08:09] wallento opened #16 "Update documentation for fusesoc-based build"

[2016-08-28 08:12] wallento opened #17 "PGAS system"
Merge the PGAS (Partitioned Global Address Space) work from before into the current compute tile, so that `compute_tile_dm` and `compute_tile_pgas` become one `compute_tile`. The global configuration parameter is then `MEMORY_ACCESS` to switch between the memory interface connected to BRAM or the DDR and the LSU.

[2016-08-28 08:45] wallento opened #18 "System 3x3 PGAS"
This is a 3x3 system with the memory tile in the center of the system:

    CT CT CT
    CT MT CT
    CT CT CT

Beside Verilator simulation it should be ported to the KC705 platform.

[2016-08-28 08:45] wallento commented on #18
Depends on #17

[2016-08-31 11:54] wallento opened #20 "Clarify VC usage and generalize the wiring on the CT/NoC interface"
We currently use 3 channels, but actually should use two: `REQ` and `RESP`. This should basically cover all message-dependency issue.

As an effect of this we need to generalize the wiring between the network adapter and the NoC in the compute tile, so that multiplexers are properly instantiated.

[2016-08-31 11:55] wallento commented on #17
#20 should probably be done before

[2016-09-02 11:51] wallento opened #21 "Switch to upstream mor1kx"
Use the FuseSoC'ed mor1kx instead of our local copy.

[2016-09-02 13:34] imphil commented on #16
Fixed in ba23e89b078cda073422350211790b3e4d574892

[2016-09-02 13:34] #16 closed

[2016-09-23 13:32] imphil commented on #13
@wallento that can be closed as of #22 ?

[2016-09-23 13:35] wallento commented on #13
Oh, yes

[2016-09-23 13:35] #13 closed

[2016-09-30 12:12] imphil opened #24 "networkmanager_ct includes optimsoc_def.vh"
[code]
![fehlermeldung](https://cloud.githubusercontent.com/assets/1467123/18991290/d4c8aed2-8717-11e6-96ff-a8f7cb2c49a0.png)

[2016-10-02 10:55] #14 closed

[2016-10-02 11:01] wallento commented on #24
Are you sure you are on the correct branch etc.? `networkadapter_ct.v` is not supposed to even exist anymore. It is `networkadapter_ct.sv` now.

[2016-10-02 11:06] imphil commented on #24
It wasn't found by me, but by Kai. In my testing on master it works, so let's leave this open until I know what exactly goes wrong on his setup.

[2016-10-02 11:48] wallento commented on #24
It seems to me that the new examples were taken from the source distribution (see `cores-root`), but the old distribution files, i.e., `make` was not executed.

[2016-10-02 23:12] imphil opened #25 "Do not print `Software reset` in Verilated simulation repeatedly"
It makes finding the "right" log messages much harder if the whole console is cluttered with these messages.

[2016-10-05 07:35] imphil commented on #24
Kai: did you run `make` after updating to optimsoc master?

[2016-10-05 10:04] Acetofive commented on #24
Hi,

I updated the repository and executed: -> "make clean" and then make again. The error still comes during the compilation. It looks like a nested include for me.

[2016-10-05 10:52] Acetofive commented on #24
Update: I tried it again in a new folder and the error message is still the same. I cloned:

`git clone https://github.com/optimsoc/sources.git optimsoc-sources`

set` BUILD_EXAMPLES_FPGA := no`

and executed a `make`

[2016-10-05 10:59] imphil commented on #24
You don't need to modify the Makefile, instead type
`make BUILD_EXAMPLES_FPGA=no`
But that's not the problem, please send me the full output of
`make BUILD_EXAMPLES_FPGA=no >logfile.txt 2>&1`

[2016-10-05 12:04] Acetofive commented on #24
Hallo Philipp,

hier sind die logfiles vom Build und der Fehlermeldung.

mfg Kai

On 10/05/2016 12:59 PM, Philipp Wagner wrote:

[1;37mINFO:  Preparing openrisc:mor1kx:cappuccino[0m
[1;37mINFO:  Preparing opensocdebug:interfaces:mor1kx_trace_exec[0m
[1;37mINFO:  Preparing optimsoc:core:mor1kx_module[0m
[1;37mINFO:  Preparing optimsoc:lisnoc:blocks[0m
[1;37mINFO:  Preparing optimsoc:lisnoc

[2016-10-05 12:11] imphil commented on #24
Was ist das oben für ein log von verilator/fusesoc?

Unten
[code]
sieht man genau, dass der Build des compute tiles aus den Quellen funktioniert.

Und wo kommt die networkadapter_ct.v Datei her? Die ist in den Quellen nicht vorhanden.

Bitte überprüfe auch ob deine FUSESOC_CORES Variable richtig gesetzt ist (d.h. keine eigenen Änderungen, nur das was optimsoc-environment.sh setzt).

[2016-10-05 12:26] Acetofive commented on #24
Ok, danke. Der Fehler lag daran, dass ich das optimsoc-environment.sh
nach einem neuen "make" nicht ausgeführt habe.

Danke fürs Helfen.

On 10/05/2016 02:11 PM, Philipp Wagner wrote:

[2016-10-05 12:35] Acetofive commented on #24
I didn't run the `optimsoc-environment.sh` to set the variables new after the update/make.

[2016-10-05 12:35] #24 closed

[2016-10-10 08:26] imphil opened #26 "Support VCU108 board"
First rough outline of TODOs:
- [ ] Create board support package at https://github.com/wallento/fusesoc_cores/tree/master/boards
  - [ ] import constraint files
  - [ ] create top-level design file
  - [ ] add and test UART GLIP communication
  - [ ] add clock generators
  - [ ] add memory controller configuration
- [ ] port compute_tile system to new board

Let's use separate tickets for the indi

[2016-10-19 09:24] imphil opened #28 "cdc fifo: clearify active low of reset signals"
The `cdc_fifo` reset signals are active low, but this is not indicated by the signal name. Clearify this.

[2016-10-25 18:37] imphil opened #29 "Replace lisnoc_fifo with generic FIFO implementation"
We currently use `lisnoc_fifo` as general-purpose FIFO implementation across the code. Move this one from lisnoc to optimsoc, rename it properly and replace all places where it's used inside optimsoc to use the new name. Also provide a generic width parameter, instead of `flit_data_width` and `flit_type_width`.

[2016-11-22 11:39] imphil opened #30 "MAM does not properly load last tile"
See https://api.travis-ci.org/jobs/177929879/log.txt?deansi=true

The same software works when loading the memories through --meminit and not through the debug system/loadelf.

[2016-11-24 00:25] imphil commented on #30
Actually it's independent of the application, `hello` shows the same bug: no code runs on tile 3 when initialized through the debug system.

[2016-11-24 11:18] wallento commented on #30
Thanks, this narrows it down. I will have a look after lunch

[2016-11-24 16:18] imphil commented on #30
Actually MAM is still writing to the memory of the last tile when we start the CPUs. The correct way to resolve this is to make sure that the memory write is finished before we do anything else. The incorrect way is to add a sleep in runelf.py.

[2016-11-24 17:14] wallento commented on #30
Oh, yeah, I actually had the solution in my mind for a while, which is acknowledging writes. I mainly thought about it for the synchronous experience on the host side, but now we have a very good reason to fix it asap. The sleep solves it for your measurements at least..

[2016-11-24 17:36] imphil commented on #30
Opened https://github.com/opensocdebug/hardware/issues/30 on the OSD side to get this fixed.

[2016-11-28 17:11] #25 closed

[2016-11-29 15:11] #30 closed

[2016-11-30 10:08] imphil opened #31 "baremetal libraries: Fix compiler warnings"
Currently we get some compiler warnings, mostly from using wrong type qualifiers for printf(). That's not a big deal, but reducing those messages will make it easier to spot real problems. See any recent travis build log for exact details.

[2016-12-02 14:19] imphil opened #32 "baremetal: publish API documentation online"
The libbaremetal + Co. documentation can be converted with doxygen. We should publish it online together with the user manual.

[2017-02-07 10:34] imphil opened #34 "Ensure that $OPTIMSOC is not set when building"
Having another optimsoc installation enabled while building a new one will lead to a corrupt build result, such as wrong libraries linked in. Check at the begin of the build script if $OPTIMSOC is set and bail out.

[2017-02-07 15:13] imphil opened #35 "Do parallel builds for FPGA syntheses and simulations"
Currently build.py is strictly sequential one job after the other. Since many tasks use only one CPU core, running multiple jobs in parallel can safe us significant amounts of build time.

[2017-03-08 16:20] wallento opened #36 "Build a platform with a host tile"
The idea is that we have one compute tile that runs Linux and has a UART interface or similar to the outside world.

[2017-03-19 12:14] ppenna commented on #31
With the above merge, compiler warnings due to printf() were solved.

Nevertheless, it is worth checking out the warnings that still remain. They may unveil some bug in the system.

Cheers,
Pedro h. Penna

[2017-03-19 12:16] ppenna commented on #11
Tracking this bug right now.

[2017-03-20 13:24] imphil commented on #11
Fixed in #39

[2017-03-20 13:24] #11 closed

[2017-03-20 14:01] imphil commented on #31
Fixed #38

[2017-03-20 14:01] #31 closed

[2017-03-22 10:16] wallento commented on #36
- [ ] Add UART (OSD dem_uart) to compute_tile and make it configurable (turns CT into HT)
- [ ] Demonstrate with system_2x2_hccc in simulation
- [ ] Demonstrate with system_2x2_hccc on Nexys4

[2017-03-22 11:26] wallento opened #41 "Deprecate LISNoC"
LISNoC is only used here, hence deprecate it as external. Instead of copying plainly, the coding style should be updated to match OpTiMSoC.

[2017-03-22 11:41] wallento opened #42 "Clock domain crossing at NoC interface of tiles"
Add a clock domain crossing at the NoC interface.

[2017-03-22 13:11] wallento opened #43 "Remove first from LISNoC flow control"
It is actually pretty useles..

[2017-03-28 15:07] imphil opened #44 "Provide default Eclipse editor configuration"
Eclipse is a rather nice choice for working on OpTiMSoC as it is able to support different languages through plugins with advanced features like auto-complete and syntax checking. However, currently it is rather tedious to setup Eclipse (or any other IDE, fwiw) with the correct settings.

We should make things easier in two steps:
1. Provide an easy way to install Eclipse with all required plugins

[2017-03-28 15:13] imphil commented on #26
This is in master now.

[2017-03-28 15:13] #26 closed

[2017-03-29 14:51] imphil commented on #44
The cmake code is here: https://github.com/Kitware/CMake/blob/master/Source/cmExtraEclipseCDT4Generator.cxx

[2017-04-12 10:59] imphil opened #49 "Document porting of OpTiMSoC to new board"
We should document in the reference manual how to port optimsoc to a new board.

[2017-04-12 17:40] imphil opened #50 "Documentation: Remove references to 2016.1 release from user guide"
Probably just leave the version number out of the docs, there is no really nice way to document provide an up-to-date information for e.g. the master branch.

[2017-04-13 12:32] imphil opened #52 "Protocol decoder for NoC signals"
Debugging NoC transactions currently involves looking at the waveforms, e.g. in gtkwave, and decoding the NoC format by hand. It would be nice to have support for a logic analyzer-like tool which contains a protocol decoder for our standard NoC messages (e.g. DMA, MP, etc.).

Options:
- Write a protocol decoder for sigrok, and use PulseView as UI. sigrok already supports VCD traces
- Write a disse

[2017-04-13 13:00] imphil commented on #21
done in 04955000c0e8ac6afc8bce648c85b0f283d4b38a

[2017-04-13 13:00] #21 closed

[2017-04-13 13:00] imphil commented on #32
also done now.

[2017-04-13 13:00] #32 closed

[2017-04-18 15:20] imphil commented on #49
Done in 49a279d

[2017-04-18 15:20] #49 closed

[2017-04-18 15:26] imphil opened #54 "Create documentation library"
To be productive with optimsoc, not only the optimsoc documentation is necessary, but also the one for newlib, mor1kx, the or1k gcc extensions, GLIP, etc.

Idea: Rework the documentation section on the homepage to be more like a "documentation library". This includes both original content from optimsoc, as well as linked 3rd-party content.

example structure:

## Guides and Tutorials
Introduce the

[2017-04-21 08:29] wallento commented on #54
My original idea was that the "Hardware Developer Documentation" is part of the reference manual and the "Software developer documentation" goes largely into API. Anyhow, I am flexible in the naming and locations :)

[2017-04-23 14:15] wallento commented on #50
I addressed this in #57

[2017-05-17 16:11] imphil opened #60 "Documentation build is broken"
In the venv we don't specify the Sphinx version. With the current sphinx version 1.6.1 we run into a build error.

- I've opened https://github.com/sphinx-doc/sphinx/issues/3761 to get this investigated from the Sphinx side.
- If this isn't resolved in the near future, we should lock sphinx to a 1.5.x version

[2017-05-17 17:12] imphil opened #61 "Fix build with Vivado 2017.1"
Vivado 2017.1 gives strange DRC errors (at least) where the 2016.4 version works. Investigate and fix.

[2017-05-24 12:41] #60 closed

[2017-06-20 08:10] imphil opened #64 "Add system test for VCU108"
Add a system test similar to the one of the Nexys 4 DDR board for the VCU108.

[2017-06-20 08:11] imphil commented on #43
resolved with the new NoC implementation.

[2017-06-20 08:11] #43 closed

[2017-06-20 08:11] imphil commented on #41
resolved with new NoC

[2017-06-20 08:11] #41 closed

[2017-06-20 08:12] #50 closed

[2017-06-20 13:22] imphil opened #65 "Explore maximum clock frequency of VCU108 design"
We'd like to know the maximum clock frequency and the critical path of the VCU108 design.

[2017-06-20 13:40] wallento commented on #36
Please find that in branch `host-tile`

[2017-06-20 13:41] wallento commented on #65
I think that should be done after #42 is done

[2017-06-20 13:42] wallento commented on #20
This is solved with the new NoC. While it could be more flexible, the current solution works fine.

[2017-06-20 13:43] #20 closed

[2017-06-20 13:44] wallento opened #66 "Generate simulation traces in common trace format"

[2017-06-20 13:45] wallento opened #67 "Replace DMA controller"

[2017-06-20 18:16] imphil opened #68 "Rename repository from sources to optimsoc"
Right now, the optimsoc main repository is only usefully named if the full name optimsoc/sources is considered. However, forking a repository e.g. into the personal namespace makes the name "sources" not descriptive at all. Therefore I propose changing the name from "sources" to "optimsoc".

While changing the repository name is annoying, I don't think it will cause major fallout and the number of

[2017-06-20 19:51] wallento commented on #68
Fine for me and done

[2017-06-20 19:51] #68 closed

[2017-06-21 08:44] koenenwmn opened #70 "FPGA examples don't work with the new NoC"
The FPGA examples don't work with the new NoC yet. I tried to fix the issue in the 'noc-examples-fix' branch.
During synthesis of the system_2x2_ccc_nexys4ddr example I also got an error because of an invalid assignment to a non-register in 'noc_vchannel_mux.sv' lines 27, 28, 31, and 32.
After adding registers the synthesis succeeds. However, I now get an error during the implementation because th

[2017-06-21 08:45] wallento commented on #70
Yes, i can look into it. Can you give me the error during implementation?

[2017-06-21 08:49] koenenwmn commented on #70
Thanks.
This is the error from the log file:

Phase 1.1 IO Placement/ Clock Placement/ Build Placer Device
ERROR: [Place 30-640] Place Check : This design requires more Slice LUTs cells than are available in the target device. This design requires 66443 of such cell types but only 63400 compatible sites are available in the target device. Please analyze your synthesis results and constraints to en

[2017-06-21 08:52] wallento commented on #70
Thanks, looking into it now

[2017-06-21 08:54] imphil opened #71 "Make Jenkins builds on LibreCores CI time out if no board is found"
https://ci.librecores.org/job/Projects/job/OpTiMSoC/job/sources/job/master/20/console says the script is waiting for a board since multiple days. If the board isn't available in reasonable time, the build should time out and error

[2017-06-21 14:58] wallento opened #72 "NoC Buffer generalization"
Currently, the noc buffer is entirely implemented as a shift register. Instead we want to make it configurable to use a RAM for the flits and the shift register only for the `last` bits to generate the full packet information.

[2017-06-22 06:53] wallento commented on #70
Reduced the LUT usage significantly with improved buffers

[2017-06-22 06:53] #70 closed

[2017-07-20 11:35] imphil commented on #61
looking into it

[2017-07-20 16:12] imphil commented on #61
fixed with 5130b04b12047869e7739bbd8032e14d589f6de9

[2017-07-20 16:12] #61 closed

[2017-07-24 11:55] ppenna opened #75 "GLIP corrupts data in high traffic scenarios with UART backend"
**Description**

When deploying Linux and tracing the execution on the FPGA, random crashes occur.

This problem happens in the following situations:
- CTM tracing (no output is produced)
- STM tracing (no output is produced)
- CTM + STM tracing (expected output is produced)

**Reproducing the Problem**

1. Switch to the host-tile branch
2. Build a single-core configuration with a host-tile
3. Pro

[2017-07-24 12:26] imphil commented on #75
What's crashing? opensocdebugd? Did you try running under gdb and collecting a backtrace?

[2017-07-24 12:28] ppenna commented on #75
@imphil opensocdebugd is crashing when writing to the buffer.

I'll collect the traces with gsb and post them here.

[2017-07-24 21:30] ppenna commented on #75
Here is the backtrace when tracing CTM and STM

[code]

[2017-07-25 05:03] imphil commented on #75
Thanks for the backtrace. We actually crash in glip on an assertation (https://github.com/TUM-LIS/glip/blob/master/src/backend_uart/sw/backend_uart.c#L839), so it's either a transmission problem or a bug somewhere in the glip software or hardware. It's actually one of the more annoying things to debug and I'll need to reproduce it here in order to have a look at it.

@ppenna Until then, you can tr

[2017-07-25 05:16] imphil commented on #75
@ppenna just to be sure: you hit that `assert` randomly after some time and after you have already transmitted gotten some data successfully? It's not a startup crash?

[2017-07-25 11:02] ppenna commented on #75
@imphil The random crash occurs after some data is transmitted, and it's sure to not be a startup crash. I'll try the workaround in the mean time. Ty

[2017-07-25 11:34] wallento commented on #75
Hi, the part with the assert looks suspicious to me. Let me have a look the next days..

[2017-08-09 08:44] imphil opened #76 "Document Linux build for OpTiMSoC"
Now that we have a (almost working) build of Linux for OpTiMSoC, we should document the steps how to get such a build. A good place would be the Reference Manual (code is here: https://github.com/optimsoc/optimsoc/tree/master/doc/refman)

@ppenna can you have a stab at that?

[2017-08-10 12:22] ppenna commented on #76
A draft tutorial is available here: https://github.com/ppenna/optimsoc/blob/host-tile/doc/refman/linux.rst

[2017-08-16 13:56] imphil opened #77 "VCU108 system with USB3 trace creates corrupt trace data"
- Design: system_2x2_cccc_vcu108 and compute_tile_vcu108

STR:
1. Synthesize from host-tile branch with `fusesoc --verbose --cores-root=~/src/optimsoc/examples build optimsoc:examples:compute_tile_vcu108 --HOST_IF=usb3 --HOST_TILE=1`
- Program bitstream
- Connect with opensocdebugd
- Open osd-cli
- Type
[code]
- Observe a crash of osd-cli when it received wrong data.

Current Status:
- Wrong data

[2017-08-17 11:30] imphil commented on #76
Thanks. Could you add how a user-space init program can be added and the initrd created and integrated?

[2017-08-17 11:30] imphil commented on #76
And then please open a Pull Request.

[2017-08-17 11:32] ppenna commented on #76
@imphil Sure

[2017-08-18 00:05] imphil opened #78 "Make UART-DEM work in Linux tty layer"
UART-DEM currently works during the Linux bootup only when a trivial driver is used, but not if requests go through the TTY layer.

Debugging results:
- All data which should be sent is written to an internal circular buffer, and then the transfer of data is triggered by calling `__start_tx()` in 8250_port.c
- All sending of data happens in an ISR triggered by the THRE interrupt (`serial8250_tx_ch

[2017-08-18 00:07] ppenna commented on #78
@imphil sure!

[2017-08-18 00:13] ppenna commented on #78
@imphil done 3223854ffcd6aa026eb085fc4c6c9317e68faa3d

[2017-08-18 00:13] imphil commented on #78
Towards the second goal, I've pushed a proof-of-concept to the host-tile branch as 5aeb2018aa8049f53881419e5653ec856e8e4983. With that commit
- I see printf() messages from user space (hooray!)
- However, I also get messages `serial8250: too much work for irq4`. This is most likely caused by me just holding the interrupt line high whenever we can; it should probably be just a single edge!?

@walle

[2017-08-18 00:13] ppenna commented on #78
@imphil done https://github.com/ppenna/linux/commit/3223854ffcd6aa026eb085fc4c6c9317e68faa3d

[2017-08-18 00:20] imphil commented on #78
Just to show that it's working, thats how my terminal looks :)

![image](https://user-images.githubusercontent.com/1467123/29439105-c52dd906-83bb-11e7-91ac-01792336fa0b.png)

[2017-08-18 00:21] ppenna commented on #78
@imphil I was wondering if there is another device hooked on IRQ 4

[2017-08-18 00:23] imphil commented on #78
no, irq4 was until now in optimsoc

[2017-08-18 01:34] stffrdhrn commented on #78
I would recommend keeping irq 2 as that's the standard for openrisc UART irqs.

[2017-08-18 21:24] ppenna opened #79 "Fix Lopoback Mode for NoC Adapter"
**Description**

When running the 2x2 singlecore system example and forcing core 0 of tile 0 to send data to itself, the execution hangs.

This problem is likely to be caused by the IRQ 3 (NoC) that is never fired.

The same problem happens on Linux, where the device driver operates on loopbackmode.

To try out this issue easily, just hack the  hello_mp baremetal application (https://github.com/op

[2017-08-19 23:56] stffrdhrn commented on #78
@imphil BTW, great work investigating and finding the difference between UART-DEM and the 8520 driver.  It is possible to just use the 8520 core we usually use?

https://github.com/olofk/uart16550/tree/master/rtl/verilog

[2017-08-20 09:25] imphil commented on #78
@wallento wrote the original code and said he will also look at the big over the weekend. I also thought about using the existing uart implementation and extending it towards the noc interface. Especially I expect the next bugs to come up when we talk about input and not output streams as well. I however don't know what the exact motivation for the current design was, is I'll leave this for Stefan

[2017-08-20 10:52] wallento commented on #78
The choice was for simplicity and I don't like the standard uart core code quality too much.. I don't think there is much of a difference with respect to the necessary work.

[2017-08-20 10:53] wallento commented on #78
Finally, we don't want LGPL code in our codebase I assume ;)

[2017-08-22 16:15] imphil commented on #78
With the latest changes in the host-tile branch by @wallento I get user-space output on the VCU108 (great!), but it seems we drop characters sometimes.

![image](https://user-images.githubusercontent.com/1467123/29575724-ac4a845e-8765-11e7-9fe3-d2dc87a87a71.png)

In this screenshot, Look at the third line from the bottom: `This architecture does not`. This message, coming from the kernel, is trunc

[2017-08-22 16:22] imphil commented on #78
Actually we loose data also from the kernel messages. After "libphy: Fixed ...." there should be a message "NET: Registered protocol family 17" (see previous [screenshot](https://github.com/optimsoc/optimsoc/issues/78#issuecomment-323227623)). Both are kernel messages.

[2017-08-22 16:26] imphil commented on #78
STDIN also works now from my initial testing. Nice work @wallento !

[2017-08-22 17:32] wallento commented on #78
Out of curiosity @imphil, are you using the CTM too?

[2017-08-22 17:36] wallento commented on #75
It seems it is the UART glip transport, which needs a full review. The path FPGA->Host seems to have a bug, which also explains a previously reported problem with verifying initialized memory.

[2017-08-22 19:55] imphil commented on #78
yes, also using CTM

[2017-08-22 21:07] imphil commented on #78
To answer the question which might have been implied:
- High traffic scenarios on the Debug NoC should not lead to any lost packages for the UART-DEM, as we can have backpressure here (in contrast to CTM).
- Before the rewrite, we didn't loose any data in the same traffic scenario (same CTM and STM traces enabled).

[2017-08-23 06:29] wallento commented on #78
I cannot confirm the issue on the Nexys4 Board. Can you please check once without CTM to guide me. Your points are right, but the backpressure got touched during the rework and I suspect it may lie there.

[2017-08-23 09:35] imphil commented on #78
I'm running a synthesis with ILA to test and will get back to you.

[2017-08-23 16:39] imphil commented on #78
Debugging shows that inside the module osd_dem_uart_16550 the backpressure from the NoC sending part isn't handled properly. This manifests in `out_ready == 0` and `out_valid == 1` at the same time, causing dropped characters.

@wallento How should backpressure through wishbone be handled? Simply don't set the wb_ack signal to high until the data word was really consumed? (Even better would be a p

[2017-08-29 01:36] ppenna opened #81 "Enable Endpoints to Be Multiplexed in the NoC Driver"
**Brief**

The current implementaiton of the NoC driver only alllows one process at a time to use an endpoint.

Ideally, however, would be to have the acess to a endpoint to be multiplexed between multiple processes, so that many of tem could concurrently send and receive data.

**Start Point**

- **For sending data**: the easiest approach would be to have processes sending data in word-bursts.

-

[2017-08-29 01:41] ppenna opened #82 "Properly Setup the NoC Driver Interrupt Handler"
**Brief**

	In the current implementation, when the interrupt handler is registered, the boot sequence halts when running on Verilator/FPGA. Interrupt-firing behavior should be investigated and the interrupt handler setup should be fixed accordingly.

[2017-08-30 07:23] imphil commented on #75
Opened https://github.com/TUM-LIS/glip/issues/47 for further tracking in GLIP.

[2017-08-30 07:25] imphil opened #83 "Upstream OpTiMSoC NoC driver for Linux"
The WIP Linux NoC driver implementation lives in optimsoc/linux currently. Once it's finished and passed internal review, submit upstream.

[2017-08-31 13:31] imphil commented on #82
Assigning to Pedro for further debugging. @ppenna let us know if you're getting stuck or don't find time to look at that bug.

[2017-08-31 15:05] imphil commented on #36
Prototype code in host-tile branch, configuration needs rework to be integrated into the CONFIG structure and more generalized.

[2017-09-01 08:15] imphil opened #84 "Initial bring-up of QEMU for OpTiMSoC with NoC"
@ppenna already started modeling the OpTiMSoC network adapter in QEMU to help with the development of the NoC driver. The initial code is available at https://github.com/ppenna/qemu. After finishing bringup of the NoC driver on real HW (#82) adjust the modeled network adapter device in QEMU and find a place for the code to live (upstream? optimsoc repository?)

[2017-09-04 15:00] FrBier opened #85 "baremetal app heat_mpsimple doesn't compile"
After the recent changes in the mp baremetal library, heat_mpsimple needs some adjustment:

[code]

[2017-09-20 14:37] imphil opened #87 "optimsoc_critical_*() functions are described in optimsoc-baremetal.h, but don't exist"
It seems these are superseeded by or1k_critical_begin() and friends, should they be removed from optimsoc-baremetal.h? @wallento

[2017-09-20 14:40] wallento commented on #87
yes, they are superseeded with the newlib version that has been added.

[2017-09-20 16:42] #87 closed

[2017-10-09 16:52] imphil opened #90 "Add compute_tile with Ethernet support"
Goal is a compute_tile_dm system with a Ethernet MAC attached to the tile-internal Wishbone bus. This ticket is about the hardware implementation only. (The software implementation is developed in lockstep based on LWIP, but out of scope for this ticket.)

Known issues for this first iteration:
- The Ethernet functionality is accessed only as bus slave, no DMAs are performed.
- We're using the Xil

[2017-10-10 06:29] annika1 opened #92 "User guide master isn't accessable"
The user guide for the master branch says "404 Not Found".

[2017-10-10 07:23] wallento commented on #92
Thanks for reporting. It was a misconfiguration in the build system and is fixed now.

[2017-10-10 07:23] #92 closed

[2017-10-16 12:42] imphil opened #93 "Evaluate Kactus2 to create structural Verilog modules"
Currently, we have a couple of purely structural Verilog files in OpTiMSoC: the toplevel files at various levels of the hierarchy. Creating these files is tedious and error-prone (getting wiring wrong in Verilog is pretty easy as it relies mostly on copy/paste). At the same time, manually creating these files makes experimentation on higher abstraction levels harder than it needs to be.

In order

[2017-10-16 13:12] imphil opened #94 "Provide tile-specific configuration"
Currently we have one `optimsoc::config_t` data structure which we pass as `CONFIG` parameter to most modules. With the development of the host tile (#36) and the ethernet tile (#91), we see some limitations of this structure. This mainly stems from the fact that `config_t` contains tile-specific configuration (i.e. configuration relevant for the internal structure of one tile, such as `ENABLE_DM`

[2017-10-18 17:40] wallento commented on #93
I like the idea and contrary to our prior approaches using IP-XACT and Kactus seems more solid. One of the issues I could think about is parameterization, but lets see.

[2017-10-18 19:45] olofk commented on #93
Yes, I have some ideas and perhaps some infrastructure that could come in use, such as bus interfaces and models of a few cores. Looking at the files you linked to, I see you're using a lot of parametrization to set the number of instances to use for a certain component. This is one area where IP-XACT is not very good.

Another type of component that might need special handling is bus interconnect

[2017-10-30 13:51] wallento commented on #94
I am a bit undecided on that topic, but open for all solutions. Here are my base thoughts:

- The majority of tiles are compute tiles, *but* in future those may become heterogeneous in the number of cores and memory size.
- There will be a very limited amount of other kinds of tiles, but they will be highly configurable

So the main question is if there will be multiple of the same of one of the l

[2017-11-21 11:48] imphil commented on #75
@ppenna I think we've found the bug in GLIP and I've updated the master branch of optimsoc with the required changes. Can you try if that fixes the problem for you? (You might need to merge the master branch into the host-tile branch if you're using that one.)

[2018-01-27 14:16] imphil opened #101 "Disable reporting of "ignoring assertion" warnings in Vivado"
We get a lot of warnings like the following during synthesis
[code]

These warnings only clutter output and don't help anything, can we suppress them with a vivado argument?

[2018-02-15 14:32] imphil opened #103 "VCU108 example not working with onboard UART"
We got the following report from a user of OpTiMSoC

STR:
[code]

Reported outcome:
[code]

[2018-02-15 14:32] imphil commented on #103
Currently running synthesis to investigate

[2018-02-16 10:43] imphil commented on #103
I've double checked both the system_2x2 and the compute tile designs, both work fine with the onboard UART here. I've also added documentation on using the designs at https://github.com/optimsoc/optimsoc/tree/master/examples/fpga/vcu108/system_2x2_cccc and https://github.com/optimsoc/optimsoc/tree/master/examples/fpga/vcu108/compute_tile.

Dominik, can you please try again using the linked instruc

[2018-02-16 17:16] imphil commented on #75
closing as the bug should be fixed and didn't get any response @ppenna

[2018-02-16 17:16] #75 closed

[2018-02-16 17:17] imphil commented on #103
Reported to be resolved by a couple power cycles of the board.

[2018-02-16 17:17] #103 closed

[2018-02-19 14:52] koenenwmn opened #104 "Setup time violation @ 100 MHz starting at noc_buffer.out_valid"
When changing the logic clock to 100 MHz we get the following timing error. It's essentially a very long path of the valid signal starting at `u_na/u_mpbuffer/u_buffer/genblk2[1].u_endpoint/u_packetbuffer_out/out_valid` and leading up to the valid signal of the MIG AXI.

@wallento do you have an idea how to resolve that one?

[schematic.pdf](https://github.com/optimsoc/optimsoc/files/1737166/schem

[2018-03-01 08:36] imphil opened #108 "Mention the need for compatible requirements in the development docs"
The development documentation (https://optimsoc.org/docs/master/user_guide/develop.html) is not explicit enough about using optimsoc and the examples from the same git tag. Figure out how to document this better (or automatically check somehow).

[2018-03-07 17:39] imphil opened #111 "Reduce number of control sets in 2x2 CCCC Nexys4 DDR design"
Currently we rather bad resource utilization after placement in the example system_2x2_cccc design for the Nexys 4 DDR board. For example, a design which makes use of 66 % of the available LUTs after synthesis requires 78 % of LUTs after placement. This is caused by the large number of control sets (sets of set/reset, clock and enable signals), which prevent efficient packing of logic into slices.

[2018-03-07 20:32] wallento commented on #111
Thanks for opening that one. I agree that this is an issue and read similar indications over the last weeks.

[2018-03-12 13:06] imphil opened #112 "Circular loop through mpbuffer"
Verilator reports multiple combinatorial loops, many of them going through the network adapter and message passing units.

@wallento do you have had a look at these before or do you have changes laying around which would make us looking at these warnings a waste of time (as it's "almost dead" code anyways)?

[code]

[2018-03-12 16:14] wallento commented on #112
Hi,

I can have a look at it, but as you say this part is reworked in my private branch and I can push it earlier than the remaining part. I am also not sure if this is some other nasty false path, because verilator sometimes shows wrong paths for arrays of signals.

ETA is the next two weeks.

Cheers,
Stefan

[2018-03-12 16:18] imphil commented on #112
OK, then we'll leave this as-is for now until you push your changes. If you have parts which can go to master earlier that would help on my side to avoid working on stuff which is in the process of being replaced (and probably would also reduce the stack of patches your sitting on to a more maintainable level)

[2018-03-12 16:20] imphil commented on #104
To avoid working on code which will be removed soon anyways we'll revisit this after @wallento merged his improved NA implementation. (see discussion in #112)

[2018-03-13 09:23] wallento commented on #104
Hi, I am not fully sure if it is covered by my patch set. Anyhow, lets revisit it once my stuff is merged. Cheers

[2018-03-13 11:40] wallento commented on #85
Fixed in https://github.com/optimsoc/baremetal-apps/commit/7f13675cce5a2e9432d758b4d37694c019fbcbe5

[2018-03-13 11:40] #85 closed

[2018-03-15 10:50] imphil commented on #104
With a higher utilization I get a very similar timing violation also in a Nexys 4 DDR design system_2x2_cccc @ 50 MHz, hence we should invest a bit more time removing this critical path.

@koenenwmn could you try to spend some time on figuring out where exactly the problem lies? All critical paths somehow go through the packet buffer in mpbuffer, somewhere there I'd expect we need to insert a regi

[2018-03-27 10:32] wallento opened #118 "Evaluate use of System Verilog interfaces or struct and unify wiring"
We have a massive amount of wiring and only in some parts we have before replaced parts of it with interfaces. Those have been a pain before, but we should identify the common use cases and check replacing them there with the common tools. Arrays of interfaces are for example known to be critical.

If those will not work out, we should at least unify the wiring for multidimensional.

[2018-03-27 10:39] wallento opened #119 "Change NoC packet format"
This is a rather large task. The packet format was chosen to optimize for length of packets and hence I used very compact headers. This was a mistake, because now we are fixed to 32 destinations. In most parts that is configurable, but doesn't check for overflows, so that will be a mess.

Once at it, the goal is to redefine and keep essential network information in the header. It is still up to de

[2018-03-27 10:43] wallento opened #120 "NoC: Let mux overwrite the class on the fly and re-visit the class concept"
Currently the class field in NoC packets is only used for demuxing purposes. Sticking with those semantics, it makes sense that the mux accordingly force overwrites this class and free the modules from it. It is more like a mux-channel than and it can be easier to create mux-demux pairs.

[2018-03-31 12:12] wallento opened #122 "VCU108 FX3 system broken"
Hi,

I have an issue with the VCU108 and the FX3. Generally, OSD works, but once I start initializing the memory I have memory losses.

Steps to reproduce:
- The issue is on the current master (cd674ac), for convenience I created a branch with the relevant debug inserted: https://github.com/optimsoc/optimsoc/tree/bug-vcu108fx3
- Build the system on this branch: `fusesoc --cores-root /path/to/fpga/

[2018-04-03 07:52] imphil commented on #122
@koenenwmn maybe a good first step would be to revert back to the older logic toplevel (i.e. the one with the timing issues) to see if the problem came from there.

[2018-04-21 12:56] imphil commented on #122
@wallento: fyi @koenenwmn has found the bug and is working on a fix, ETA next week.

[2018-04-21 13:01] imphil opened #124 "Implement communication channel from host to compute tiles"
For demos and evaluations we'd like to have a communication channel between the host and the compute resources in optimsoc. A couple possible solutions:

1. Build a bridge between the debug system and the NoC of the functional system to inject NoC packets from the host through the debug system into the functional system. We had something like this long ago.
2. Build a GLIP FIFO to WishBone slave a

[2018-04-21 13:02] imphil commented on #122
Ah, forgot to mention: it's a issue in the GLIP cypressfx3 backend, as a workaround using the uart backend will work.

[2018-04-23 11:44] imphil opened #125 "Integrate Ethernet work by Dominik"
The data is available (inside LIS) at /nfs/projects/optimsoc/aramis/

[2018-04-23 12:15] wallento commented on #125
Hi,

before you start on this @koenenwmn, can you please elaborate on what the contribution is with respect to hardware requirements and software stack?

In particular, a few questions are interesting for me:

 - Does it depend on non-free IP from Xilinx?
 - Does it work on all targeted Xilinx-based FPGA boards?
 - Does it smoothly integrate with a compute tile? Hence, can it become like part of t

[2018-04-23 12:17] imphil commented on #125
This issue is about the very narrow issue of cleaning up/integrating the solution developed by Dominik for the purposes of his demo. It's targeting only the VCU108 board, works only on a single compute tile design and makes use of significant portions of Xilinx IP.

[2018-04-23 12:17] imphil commented on #125
We'll need to see how much of it we want to integrate into upstream OpTiMSoC by default, and how much of it should be specific for the demo project of the Aramis project.

[2018-04-23 12:25] wallento commented on #125
okay, I see, it may make sense to keep that on gitlab.lrz.de for the first phase, private discussion pending.

[2018-05-03 08:53] yaorong0921 opened #126 "List install instructions for non-root users"
Currently all our install instructions assume sudo rights. That's not necessary, the following steps also work.

[code]

[2018-05-03 08:58] yaorong0921 opened #127 "Build failure when running with --build-docs"
[code]

[2018-05-07 11:43] imphil opened #128 "Optimize optimsoc_get_abscoreid() function"
In profiles `optimsoc_get_abscoreid()` shows up as taking 28812 cycles per call (on a 50 MHz Nexys4 DDR board). This is clearly to much for a value that doesn't change ever.

[code]

[code]

We should avoid both reading the special purpose register and he NA by keeping those values cached after a first read.

[2018-05-07 16:13] imphil commented on #128
the 28k cycles for this function might be a measurement error (about to confirm that). Still it shouldn't take longer than a memory read on the second call.

[2018-05-07 16:55] imphil commented on #128
This was a measurement error, the # of cycles was actually for the next function, not the function I thought it was. Still or1k_coreid() still takes ~1000 cycles in my profiles (for a function of 2 instructions), but I'll first need to confirm that a bit more.

[2018-05-07 16:55] #128 closed

[2018-05-22 21:13] bsrivalli3012 opened #130 "Issue with instantiating mpbuffer"
Hello,
I am trying to instantiate the mpbuffer module of the OptimSoC hardware. The final goal is to instantiate the network adapter. I am working with the latest version available on the Git Repository and have not made any modifications to it.
The errors are as follows
![capture](https://user-images.githubusercontent.com/33404977/40390411-2a9a29b4-5de3-11e8-9f26-8477a2c0d38b.PNG)

Thanks in adva

[2018-05-22 21:15] bsrivalli3012 commented on #130
@wallento bringing this issue to your attention. Thanks :)

[2018-05-29 13:14] imphil opened #131 "Make MAM a real bus master"
Currently MAM is inserted into the memory path in a rather "hackish" way. We should make the MAM a normal master on the bus.

@wallento I think you already have code around for this?

[2018-08-19 15:20] imphil opened #133 "MP: Messages with negative numbers in them are not received?"
When sending a message in which one data item is a negative number the `optimsoc_mp_msg_recv()` function never returns. Sending a message with a positive number in it is received.

The following test program illustrates this. (See below to comment out the working/non-working part.)

Run this with `osd-target-run -e bug-negative-msgs.elf --coretrace --systrace` to reproduce on a 2x2 CCCC system in

[2018-08-20 12:19] imphil opened #134 "Interrupt for DEM UART"
Linux assumes by default that the UART interrupt is on line 2 (https://elixir.bootlin.com/linux/latest/source/arch/openrisc/boot/dts/or1ksim.dts#L47).

In OpTiMSoC we have the NA DMA interrupt on line 2 at the moment. However, a quick grep showed that no software actually uses this interrupt line.

How should we proceed @wallento? Map UART to a non-standard interrupt in OpTiMSoC, or move the NA DM

[2018-08-20 20:27] wallento commented on #134
I was kind of sure, we faced this issue before and fixed it. Let me dig into the various branches, will get back asap.

[2018-08-20 20:56] imphil commented on #134
We had UART initially on interrupt 4 in the host-tile branch and switched back to interrupt 2. Not sure what we did with the DMA interrupt, however.

[2018-08-27 12:31] ticksmas opened #135 "Undefined reference at make"
Hi there!
When I tried to "make" from the optimsoc-sources folder, I got the following error during the build:

`./optimsoc-sources/external/opensocdebug/software/src/tools/osd-device-gateway/osd-device-gateway.c:82: undefined reference to `glip_parse_option_string'
`
I have found the headers, and tried to include it in osd-device-gateway, without success. As a workaround, I copied the function co

[2018-08-27 12:37] imphil commented on #135
Are you sure that you have a clean source tree, equal to the latest upstream version (the master branch)? Please also ensure that you don't have the OPTIMSOC environment variable set when building OpTiMSoC.

[2018-08-27 12:56] ticksmas commented on #135
The OPTIMSOC environment variable was set.
I'll try from scratch, without installing the binaries.
Thank you!

[2018-08-27 12:56] #135 closed

[2018-08-27 12:59] imphil commented on #135
Looks like we really should get around to implement https://github.com/optimsoc/optimsoc/issues/34 :-) If you have time, I'm happy to have a look at a PR (it should not require more than two lines in tools/build.py)

[2018-09-03 14:36] imphil commented on #134
With https://github.com/optimsoc/optimsoc/pull/136 the DMA interrupt now moved to 4, MP is where it was and UART is at 2. I didn't see any software references to the DMA interrupt, maybe my grep was just wrong, or we never used it.

[2018-09-03 14:36] #134 closed

[2018-09-14 09:38] imphil opened #141 "Doc build fails with Sphinx 1.8.0"
[code]

[code]

[2018-10-01 13:49] imphil commented on #127
Not reproducible (any more) on my side, breathe is properly included in the requirements.txt.

[2018-10-01 13:49] #127 closed

[2018-10-01 13:50] imphil commented on #28
We have new FIFOs now with sane reset signals.

[2018-10-01 13:50] #28 closed

[2018-10-01 13:51] #29 closed

[2018-10-01 14:02] #34 closed

[2018-10-03 06:26] bergyla opened #143 "Checking Vivado Version fails on Service releases"
As tested in Vivado 2017.4.1 the Environment Check script fails by struggling with the additional .1 at the End of Version Output

[2018-10-03 07:32] wallento commented on #143
Seems that @imphil already thought about that: https://github.com/optimsoc/optimsoc/blob/master/tools/build.py#L190

Will fix this now

[2018-10-03 14:51] bergyla opened #144 "clog2 fails with Vivado Versions < 2018.x after commit 271bad18f0aecc675509171788b07fdcef935b7c"
Using clog2 (as called by clog2_width in optimsoc_functions.sv  - used in mpbuffer_endpoint.sv ) from Vivado will fail with Vivado Versions < 2018.x:
Vidado Error: "clog2_width is not a valid constant function call"

This brakes compatibility to the advised 2016.4 as recomended in the actual documentation.

Btw: Using Vivado 2018.2 as announced in Commit note will require > 4GB Memory since the bu

[2018-10-03 15:58] wallento commented on #143
Can you please check the `fix-version-handling` branch. Thanks!

[2018-10-03 16:05] wallento commented on #144
Thanks for reporting. @imphil, can you have a look at reverting and fixing the warning instead?

[2018-10-04 06:31] bergyla commented on #143
Checked with 2017.4.1 and 2018.2.1 (both using optimsoc_functions.sv prior 271bad18f0aecc675509171788b07fdcef935b7c).
Will build well...

Could be put in Master

[2018-10-04 06:45] bergyla commented on #144
Vivado 2018.2.1 (Service Release of the struggling Vivado Release cuased Philip to provide the change) will run well with modified build.py Fix (as provided in fix-version-handling branch) with the original code of optimsoc_functions.sv.

So from this side, there is no more need to use the built in vlog2 Function but to install the Release Update...

*Xilinx released a 2nd Service Release 2018.2 (

[2018-10-04 08:36] #144 closed

[2018-10-04 08:37] imphil commented on #144
Thanks Andreas for reporting this. I've now reverted the commit. This should resolve the error at the cost of a warning, which is a reasonable thing to do. Let's wait until the dust settles in this area of Vivado and then try again to find a more permanent fix.

[2018-10-05 11:17] bergyla opened #146 "Following fusesoc simulation Examples failing"
Following the 1.4.1 Building Hardware fails on the the newly added Parameters: CORE_ENABLE_FPU + CORE_ENABLE_PERFCOUNTERS
BASE_CONFIG is mismatching:

/opt/optimsoc/prebuilt/verilator-3.902/bin/verilator -f optimsoc_examples_compute_tile_sim_0.vc --trace -Wno-fatal -CFLAGS "-std=c++11" -LDFLAGS "-pthread" -Wwarn-lint
%Error: Assignment pattern missed initializing elements: MEMBERDTYPE 'CORE_ENABLE

[2018-10-05 14:22] bergyla opened #147 "fusesoc with alternate Simulator target will fail with missing test-defines.v"
Im still struggling by figuring out how fusesoc generates the build-tree...

I´m interessted in using fosesoc Sim(ulation) with a simulator target other then Verilator but fusesoc stops thenafter with missing test-defines.v.
Using Standard sim run do not facing this issue...

Unfortunately fusesoc is badly documented, and Im still not aware how to stick into the configuration to find the right loc

[2018-10-09 14:17] imphil commented on #146
I'm not sure what steps create this problem for you, could you please add more information what you did/do to reach this error message?

[2018-10-29 16:13] imphil commented on #44
An easy way to install Eclipse is now available, as of #148

[2018-10-30 09:21] imphil commented on #78
With the latest merge from Open SoC Debug Linux now boots up to userspace with all stdout being forwarded to the host.

[2018-10-30 09:21] #78 closed

[2018-10-30 09:53] #141 closed

[2018-11-12 16:14] imphil opened #152 "Fix Verilator lint warnings in compute_tile_sim"
Our example design `compute_tile_sim` currently fails the Verilator lint. Some lint warnings seem to be bogus, but are hiding the important ones.
1. Find a way to suppress the warnings which are not useful (a suppression file doesn't seem to exist in Verilator now, only source code annotations?)
2. Fix the remaining ones.
3. Open a follow-up issue to enable lint in CI.

Lint for a typical design c

[2018-11-12 16:43] imphil commented on #147
This seems to be a problem in the core file shipped with mor1kx.

However, the problem with simulators other than Verilator is that somehow the memory load and/or the debug interconnect need to be simulated. We had/have uartdpi for this purpose, i.e. a BFM for the UART interface which can then be used to connect the remaining debug software to it. However, nobody has been using it for ages and it

[2018-11-23 06:37] imphil opened #154 "Reenable system_2x2_cccc on Nexys 4 DDR"
Commit  94c76b2 disabled the 2x2 design on Nexys since it's too large. Investigate how to shrink it.

[2018-12-13 15:55] bergyla opened #155 "make fails on FPGA build with fusesoc 1.8.4 parse error on commit 71e74d7"
make fails in FPGA Build process of nexys4ddr with the following Log-Messages:

WARNING: Parse error. Ignoring file /optimsoc-sources/examples/fpga/nexys4ddr/compute_tile/compute_tile_nexys4ddr.core: Unknown item 'rule_parameters in section Spyglass'
ERROR: 'optimsoc:examples:compute_tile_nexys4ddr' or any of its dependencies requires 'compute_tile_nexys4ddr', but this core was not found

Removing

[2018-12-13 16:08] imphil commented on #155
The current `master` branch of optimsoc depends on a fusesoc version newer than 1.8.4, which is not released yet (see https://github.com/optimsoc/optimsoc/blob/master/requirement_versions.yml#L8).

If you don't want to use Spyglass simply commenting out the relevant spyglass lines should do the trick.

If you want to use spyglass, and until a newer release of fusesoc has happened, please use the "

[2018-12-13 19:39] bergyla commented on #155
Work well. Thank you

[2018-12-13 19:39] #155 closed

[2018-12-18 13:31] imphil commented on #76
It's all documented in the user guide now.

[2018-12-18 13:31] #76 closed

[2018-12-18 13:33] imphil commented on #36
We now have a single (multi-core) compute tile with Linux support. Having a setup with one "large" host tile and a couple compute nodes isn't there yet and mostly blocked by finding a good way to configure such a system.

[2018-12-18 13:44] imphil commented on #147
@bergyla Do you still face this issue and can provide more information? Otherwise I'll close this issue within a week.

[2018-12-18 13:44] #143 closed

[2018-12-18 13:44] imphil commented on #143
This is now in master.

[2018-12-18 13:46] imphil commented on #146
@bergyla Is this still a problem for you? Otherwise please close this issue or I'll close it within a week.

[2018-12-18 13:47] imphil commented on #71
no more action on LibreCores CI. Now that we have the full build pipeline in GitLab we can close this one for now.

[2018-12-18 13:47] #71 closed

[2019-01-03 22:02] imphil opened #158 "Remove bin2vmem"
It seems that objcopy has a "verilog" target option which creates vmem files. See if that option works for us and remove bin2vmem in this case.

[2019-01-04 10:03] wallento commented on #158
I remember there were some issues before and I can find those mentions:

https://github.com/sifive/elf2hex/issues/1

https://sourceware.org/bugzilla/show_bug.cgi?id=19921

I will have a look into it!

[2019-01-04 10:44] imphil commented on #158
The patch in the sourceware bug is indeed what's needed, should just get that submitted. I'll give it a try on RISC-V Little Endian early next week to ensure that the little endian stuff works as well.

[2019-01-04 10:45] imphil commented on #158
(The other problem mentioned in sifive/elf2hex#1 isn't actually a problem for us.)

[2019-01-22 09:31] SRQ91 opened #159 "Making OpTiMSoc for VCU108"
Currently I am compiling for the VCU108 by modifying the build.py and replacing nexysddr with vcu108. This works fine but I am wondering if there is a more refined method already implemented for this?

[2019-01-22 10:02] koenenwmn commented on #159
You can call fusesoc directly to build the VCU108 example designs. There are readme files for both examples in the subdirectories in '/examples/fpga/vcu108/' which explain the steps in detail.

[2019-01-23 08:12] SRQ91 commented on #159
Thank you 👍

[2019-01-23 08:12] #159 closed

[2019-01-23 10:06] SRQ91 opened #161 "Dependency Problems while building with FUSESOC for VCU108"
I am trying to get the file structure for single tile quad core system of OpTiMSoC. The make of OpTiMSoC runs fine but generates only single core single tile vivado project in the objdir/examples/fpga/vcu108. A quadcore bit stream is generated but not the vivado project. To get this I go to examples/fpga/vcu108 and change the num of cores in .sv computetile file for 4. When trying to run this with

[2019-01-23 12:00] imphil commented on #161
It looks like you didn't load the optimsoc-environment.sh file into your environment. Please have a look at the tutorial.

If you want to start your own project based on optimsoc, use one of the example projects as starting point, *copy* it into a new directory somewhere outside the optimsoc source directory, and start modifying it. You do not need to rebuild optimsoc itself, build and install it

[2019-01-23 12:00] #146 closed

[2019-01-23 13:52] SRQ91 commented on #161
Thank you for the help. Fusesoc was not about to file the additional cores due to incorrect configuration of $FUSESOC_CORES.

[2019-01-23 13:52] #161 closed

[2019-01-23 14:39] SRQ91 opened #162 "NUM_CORES not changing number of cores"
I am using this command to generate vivado project using FUSESOC:

`fusesoc --cores-root $OPTIMSOC_SRC/examples/fpga/vcu108/compute_tile build optimsoc:examples:compute_tile_vcu108 --NUM_CORES 2`

Fusesoc works to generate a build folder but only one core is instantiated in the compute_tile file. During execution Fusesoc shows this message:

[code]

I am not sure what is the reason for this. If I

[2019-01-23 14:43] imphil commented on #162
How do you check that only one core is instantiated? Have a look at the synthesis logs produced by Vivado; it tells you the values assigned to all parameters.

[2019-01-23 14:50] SRQ91 commented on #162
I am checking this by looking at the Hierarchy of sources in Vivado. Under u_compute_tile, I see only one instantiated u_core. I have used this method as for a 2x2 system I used to see multiple u_compute_tile modules instantiated in the sources list.

In synthesis I see that NUM_CORES is bound to 2:
[code]
Is my method of determining the number of instantiated cores incorrect?

[2019-01-23 14:57] imphil commented on #162
no. The source file is included only once. You need to look at the hierarchy after synthesis.

[2019-01-23 15:13] imphil commented on #162
So this is resolved then, great!

[2019-01-23 15:13] #162 closed

[2019-01-28 13:56] SRQ91 opened #163 "[ERROR] libosd: glip: Given speed xx did not work with device. Try autodetect.."
I synthesized compute_tile with the following:

`fusesoc --cores-root $HOME/xx/optimsoc/examples/fpga/vcu108/compute_tile build optimsoc:examples:compute_tile_vcu108 --UART0_SOURCE=onboard --HOST_IF=uart`

It works fine and implements the design. For connecting the board I use:

`osd-target-run -e hello.elf -b uart -o device=/dev/ttyUSB1,speed=3000000`

This returns:

[code]

I have also checked w

[2019-01-28 14:04] imphil commented on #163
The onboard UART of the VCU108 doesn't support 3 MBit/s IIRC. The example at https://github.com/optimsoc/optimsoc/tree/master/examples/fpga/vcu108/compute_tile#step-5-run-software uses 921600 baud and should work.

[2019-01-28 14:07] imphil commented on #163
I just saw that https://github.com/optimsoc/optimsoc/tree/master/examples/fpga/vcu108/compute_tile#onboard-uart gives different instructions. Please double-check with the source code. Could you then open a PR to fix this README? Thanks!

[2019-01-28 14:12] SRQ91 commented on #163
Sure I can open the PR. About the issue, as I mentioned in the original post, I also tried 115200, and 921600 but these don't work too. Another interesting this I just checked is that despite /dev/ttyUSB0 being accessible using putty, the GLIP tool Loopback Measure cannot connect to this port.
`glip_loopback_measure -b uart -ospeed=115200,device=/dev/ttyUSB0`
gives me:
[code]

[2019-01-28 14:16] imphil commented on #163
Please check the HDL source code with the parameter that's set there and use that speed. Reload the bitstream after you've used a wrong baud rate to ensure that the device is fully reset.

[2019-01-28 16:01] SRQ91 commented on #163
The source code has:

`parameter UART0_BAUD = (UART0_SOURCE == "pmod" ? 3000000 : 921600);`

The 921600 should work but even after reloading I am getting the same issue.

[2019-01-29 10:37] SRQ91 commented on #163
After synthesizing the code for pmod instead of onboard uart, I see only ttyUSB0 connection.

[code]

[2019-01-29 11:21] imphil commented on #163
A couple things to try:
- Of course the PMOD UART is one option, and highly recommended (the onboard UART isn't overly reliable)
- You did log out and log in again after the group change? Changing the device permissions to 0666 might also be worth a try.
- Are you using any hub (or even worse, any USB 3 hubs) in between your board and your PC? Try to directly connect to the PC. Also try different

[2019-01-30 07:58] SRQ91 commented on #163
For the things that you suggested:

1. I switched to PMOD and as my last post shows, it connects fine but comes to a halt with the error:
`[ERROR] libosd: Device read thread did not shut down itself. This typically indicates a bug in the code using osd_gateway.`

2. I was already in the dialout group, I re-added myself just to make sure of it.

3. The FPGA is connected directly to our server witho

[2019-01-30 10:46] imphil commented on #163
You can ignore that error, it's only telling you that a clean shutdown wasn't possible -- but everything else worked and the shutdown is forced. Good you sorted this out, it confirms our suspicion that the onboard UART of the VCU108 board isn't any good at all.

[2019-01-30 10:46] #163 closed

[2019-02-04 16:26] SRQ91 opened #164 "Accomodating additional features: bootrom, cache"
Currently in the OpTiMSoC source code, additional hardware such as bootrom, and data/inst. cache have been disabled. Is there any plan to include this functionality or would the design work with these activated?

Secondly, is there any documentation on how the default hardware flow of OpTiMSoC looks like for single/multicore versions? I mean this in terms of memory addressing etc.

[2019-02-06 14:22] imphil commented on #164
You can activate those features whenever you need them in your custom design. OpTiMSoC is meant to be a starting point for your own designs, giving you all necessary options to achieve that.

What do you mean by that? The hardware flow is always the same. The memory model is currently distributed between tiles, and and shared and coherent within a tile. In most example designs, all memory gets map

[2019-02-07 16:07] koenenwmn commented on #72
Fixed in #160

[2019-02-07 16:07] #72 closed

[2019-02-09 14:35] koenenwmn commented on #42
I was gonna have a look at this soon. A few questions though:

In the networkadapter_ct there are two signals that depend on the defines OPTIMSOC_CLOCKDOMAINS and OPTIMSOC_CDC_DYNAMIC. I couldn't find these definitions being used anywhere else, are they?
Also, depending on these defines the adapter has two output ports: cdc_conf and cdc_enable. What was the originally thought of purpose of these s

[2019-02-11 15:27] imphil commented on #42
`OPTIMSOC_CLOCKDOMAINS` and `OPTIMSOC_CDC_DYNAMIC` are remains of two almost completely removed features.

`OPTIMSOC_CLOCKDOMAINS` was a define. If enabled, a CDC FIFO between the compute tile and the router was instantiated.

`OPTIMSOC_CDC_DYNAMIC` enables runtime (hence "dynamic") frequency setting of the core. Two CPU-writable registers, `cdc_conf`, and `cdc_enable` were provided by the network

[2019-02-12 06:42] koenenwmn commented on #42
Ok, so I guess I can get rid of them then.

You are right of course, but I was asking for the current NoC, since the implementation of the network adapter would have to be changed for another NoC type anyways.
The question was more targeted towards on which side of the CDC FIFOs it makes sense to have the larger buffers in order to prevent starvation or backpressure.

[2019-02-12 12:26] #147 closed

[2019-02-12 12:28] imphil opened #166 "Add cocotb tests for NoC primitives"
The NoC primitives are missing cocotb tests. Old code by @wallento is available at https://github.com/imphil/optimsoc/tree/noc-cocotb-tests and can potentially be used as starting point.

[2019-02-19 15:10] koenenwmn opened #167 "Avoid deadlocks caused by packets exceeding the MP buffer size"
The maximum packet size for the NoC is currently limited by the size of the `noc_buffer` in the `mpbuffer_endpoint`. Larger packets cannot be sent since only full packets are forwarded by the FIFO. However, larger packets are accepted by the `mpbuffer_endpoint` which leads to a deadlock state. Furthermore, the software has no way of knowing how large the buffers are.
I would suggest to:
1. make th

[2019-02-19 15:22] koenenwmn opened #168 "Send NoC messages to cores other than core 0"
Currently, arriving NoC packets can only be accepted by core 0 of a tile since no other core receives an interrupt. I was thinking it might be an idea to also allow messages to be accepted by other cores.

This could be achieved by setting the core ID of the receiving core in the endpoint when enabling it. The endpoint would then raise an interrupt at that core when receiving a packet and each cor

[2019-02-19 15:56] imphil commented on #167
1. It indeed seems to be the case that the maximum packet size isn't accessible. It should be easy to add this parameter to `networkadapter_conf.sv`, which makes it accessible through a memory-mapped register read from the NA.

2. Dropping excessive buffers seems to be a halfway sane thing to do; a real solution would probably involve an error flag and possibly an error interrupt or some other way

[2019-02-19 16:00] imphil commented on #168
The current design isn't uncommon: it requires core 0 to handle all incoming messages, somehow unpack them and forward them to the recipient task -- the mapping between task and core is something only the operating system (running on core 0) knows in most cases.

Of course, depending on your system design the sender might already know the core the recipient runs on (especially if no operating syst

[2019-02-19 17:24] SRQ91 opened #169 "[ERROR] osd-target-run: Unable to load memory at DI address 1 (-13)"
I have compiled the standard "hello" example in baremetal-apps and it runs as expected when simulated. However, I get blank system trace files when I load the generated elf on the VCU108. I follow the following process:

`/baremetal-apps/hello$ osd-target-run -e hello.elf -b uart -o device=/dev/ttyUSB0,speed=3000000 --coretrace --systrace --verify  -vvv`

[code]

I think the error might be due to

[2019-02-19 19:46] imphil commented on #169
`[ERROR] libosd: Memory mismatch at byte 0x57f. Expected 10, read 00`
indicates the memory write didn't go well. Typically this is caused by the off-chip connection. If this problem happens all the time try to reduce the off-chip speed to less than 3 MBaud (both in software and when calling osd-target-run), or use the USB3 off-chip interface, which we recommend with this board.

[2019-02-20 07:26] koenenwmn commented on #167
I was actually thinking of reading this parameter from `mpbuffer` itself since the number of endpoints is also read from there and both are parameters of the module anyway.

As for the dropping you are right of course. I'm just not sure how to implement such an error flag. What happens if we set the error flag of the bus in such a case? Since sending data is simply a memory-mapped register write a

[2019-02-20 07:33] koenenwmn commented on #168
We will probably have a use case for a fail-operational scenario where a spare core can take over in case core 0 fails (for whatever reason). I thought it might be useful in other system designs as well. But I think in this case we will just make these adjustments in our project for now.

[2019-02-20 10:19] SRQ91 commented on #169
I am using the Digilent pmod device to connect to the FPGA. I resynthesized the system for baudrate of 921600. It did not resolve the issue. Details are as follows:

`/baremetal-apps/hello$ osd-target-run -e hello.elf -b uart -o device=/dev/ttyUSB0,speed=921600 --coretrace --systrace --verify  -vvv`

[code]

When you said to reduce the baud rate in Software, you meant the Verilog code, right?

[2019-02-20 10:33] imphil commented on #169
yes, that was a typo on my side, sorry for that. I meant "both in hardware and when calling osd-target-run", with hardware being the Verilog code.

Unfortunately, it's a bit hard to predict what's going wrong here -- communication bugs are the most annoying ones. You could try:

- Try different cables, USB ports, etc. It could be just an unreliable cable, switch or anything in between. [Takes a co

[2019-02-20 10:34] imphil commented on #169
Just to make sure I didn't miss anything: @wallento what you thought might be a GLIP UART bug was in fact no bug?

[2019-02-20 10:41] imphil commented on #168
If you want to have a fail-operational scenario with core 0 failing you need to route all interrupts to another core, which needs to be done in hardware. And then you most likely inform the "new core 0" about that fact by raising an interrupt to it and through that calling a software routine which handles all further migration tasks.

[2019-02-20 10:46] imphil commented on #167
I'm wondering if the maximum packet size is a NoC parameter/limitation or an limitation of the MP buffer. By grepping for the use of fullpacket = 1 in our source code the answer should become obvious. :-)

In theory you should get a bus exception on the CPU which can be handled there, but I think the system just hangs at the moment.

It should be trivial to introduce a control/status register in t

[2019-02-20 13:04] SRQ91 commented on #169
So here are some initial findings:

1. I changed 5 USB cables, the same issue persists. NOT a cable issue.

2. To test the diligent pmod itself, I shorted the RX and TX pin of the board and sent data via HTTerminal. All data was correctly received. NOT a board issue.

3. GLIP debugging:
a. Stress test:
`/baremetal-apps/hello$ glip_io_stress_test -b uart -ospeed=921600,device=/dev/ttyUSB0`
OUTPUT:

[2019-02-20 13:22] imphil commented on #169
So this looks like a GLIP issue, possibly specific to this device. Is is reproducible, i.e. always happening at the same at the same time? Beyond that you need to unfortunately go into debugging the GLIP UART backend itself. @koenenwmn has some experience with that. (It would be good to first confirm at TUM with another VCU108 board with pmod UART to see if the issue happens there as well.)

[2019-02-20 13:37] SRQ91 commented on #169
At my side the issue is reproducible and loading any elf file with baudrate of 921600 gives this problem consistently at memory location 0x46. The error always remains:
`[ERROR] libosd: Memory mismatch at byte 0x46. Expected 00, read 20`
which is a bit strange. @koenenwmn since you have another VCU108, can you please recreate this scenario. I have synthesized a single tile 4 core system with pmod

[2019-02-20 13:38] imphil commented on #169
Ignore the optimsoc use case for now until the glip stress and loopback tests fully work. Do you get the same error position of every run of the stress test and (even better) in the loopback test?

[2019-02-20 13:49] SRQ91 commented on #169
Yes. We have another VCU108 that was fortunately free. I loaded the same bitstream on it. The same issue persists. The only difference is the memory address where the data mismatch occurs. The error for this board for any elf is:

[code]

[2019-02-20 13:53] SRQ91 commented on #169
My error position do you mean the memory address at which the error occurs? If yes, then this address is not the same. For the glip loopback measure the error is detected already at byte 1.

[2019-02-20 13:59] imphil commented on #169
That's optimsoc. Ignore optimsoc for now and *only* debug GLIP until it works.

Btw, just to ensure that: Do you reflash the FPGA and possibly reset it (using the CPU reset button) between tries to ensure that you have a clean environment?

[2019-02-20 14:00] imphil commented on #169
And for the GLIP tests you built and flashed the appropriate bitstreams from the GLIP repository?

[2019-02-20 16:04] SRQ91 commented on #169
As far as flashing FPGA is concerned, I did reset it regularly as after the glip commands I had issues running osd-target-run. For GLIP I have pre-generated bitstreams. I will generate them again in case something was changed.

[2019-02-21 12:05] koenenwmn commented on #169
I tested the glip stress test and the single compute tile example (with 1 core) both using the pmod and a speed of 3MBaud. Both worked fine (had a connection issue with the compute tile example but a rebuild of OpTiMSoC fixed that).
Did you make sure to rebuild everything after pulling the latest master?

[2019-02-22 06:41] koenenwmn commented on #169
A little update:
I managed to run the example on a compute tile with 1,2,3, and 4 cores now. Yesterday I ran into a similar issue you described initially, but with a 3 core system (and I couldn't connect to a 4 core system at all). Updating the mor1kx seems to have fixed that issue, so you should try the current master.

I would still strongly recommend using the USB3 off-chip interface since even

[2019-02-22 07:55] koenenwmn commented on #167
It's a limitation by the MP buffer. Checked the code and also did a quick simulation where I increased the buffer size to 64 and sent packets of that size in the `hello_mpsimple` example.

Alright, I will go for the status register approach then.

[2019-02-22 07:56] #168 closed

[2019-02-22 11:00] imphil opened #172 "Fix lint issues after mor1kx update"
The mor1kx update in #171 brought us, as expected, a couple new Spyglass lint problems.

1) New undriven port

[20C]    W415

2) Multiple drivers for the memory. That's most likely the annoying issue of https://github.com/openrisc/mor1kx/issues/66 and https://github.com/openrisc/mor1kx/pull/63 again. Seems like we need to waive those errors for now. (But note that it prevents Synopsys DC from synt

[2019-02-26 11:00] wallento commented on #167
This parameter should be read by the software.

[2019-02-26 14:25] SRQ91 commented on #169
I tried again with the master to run the hello program using the single tile quad-core system. It connects fine but has the same memory error. I will order the Cypress FX3 USB 3.0 kit.

[2019-03-07 18:00] SRQ91 commented on #169
I can confirm that with Cypress FX3 the loading is fine and I see accurate system traces. The issue can be closed for now and revisited later on if pmod has to be made operational for other reasons. Thank you for all the help.

[2019-03-07 18:00] #169 closed

[2019-03-08 10:45] koenenwmn opened #174 "Xilinx IPs"
The current implementation of the system_2x2_cccc does not work on the VCU108. The reason is that the Xilinx IPs for the `xilinx_axi_register_slice` and the `xilinx_axi_interconnect_4to1` have been designed for the nexys4ddr board and mismatch the required address width (which causes the areas of all 4 tiles to be mapped to the same address in the DRAM). I created new versions for the VCU108 and i

[2019-03-08 10:54] imphil commented on #174
I'm not a big fan of the fusesoc_cores repo, it's external but has no other users than us. So I'd go the other way, and fold this repo back into the optimsoc repository.

The general idea of the board support package was to abstract away board differences under a common interface. The AXI interconnect IP isn't really board specific, but more target and design-specific. I'd therefore place it in th

[2019-03-08 12:01] koenenwmn commented on #174
Ok. For now I would then just move the current IPs to the toplevel of the nexys4ddr example and add new ones for the vcu108 example. Then we can still reintegrate the fusesoc_cores repo into OpTiMSoC at a later point (just want to get the examples running for now).

[2019-03-08 13:50] koenenwmn commented on #174
Nevermind, since I have to adjust the IPs used in the vcu108 board wrapper I'll give it a shot right away.

[2019-03-08 13:50] #174 closed

[2019-04-11 12:03] koenenwmn opened #177 "Build Script UnicodeEncodeError"
When running the build script in a CI test on gitlab a user with an umlaut in his name get's the following error:
[code]
Users without umlaut can run the test just fine.

[2019-04-16 18:45] APDNath opened #178 "Modifying the compute tile / Reusing the mor1kx with NA"
Hello,

I am just wondering what would be the best approach to reuse the mor1kx CPU and the associated network adapter as individual IPs connected to a NoC router. I have a couple  of questions regarding this:
1. Can I use just the mor1kx cpu and associated network adapter and get rid of the wb_bus, sram, and memory adapter modules from the compute tile?
2. If so, would I still be able to connect

[2019-04-26 14:18] imphil commented on #178
The CPU and the network adapter are connected through the bus. If you don't want to use the wishbone bus, you need to provide your own replacement. Furthermore, if you don't want to hook up the SRAM to the bus you need to provide another way for the CPU to fetch its program code and data, e.g. through by extending the load/store unit in the network adapter.

[2019-04-26 14:28] APDNath commented on #178
Thanks much for the reply. It is really helpful.

[2019-04-26 14:32] #178 closed

[2019-04-26 22:12] Theldus opened #179 "libosd: Unable to open connection to device (-1)"
Hi,
I'm working with @ppenna on a '[HAL](github.com/nanvix/hal)' for a microkernel that we are developing, which has OpenRISC as one of its build targets. We are able to run our current code in OpTiMSoC, but ocasionally we get the message above while trying to run in the FPGA (Nexys 4 DDR) with the following command:
[code]
The only solution we found was reprogramming the FPGA with the bitstream b

[2019-04-29 14:03] imphil commented on #179
1. The console log looks wrong, you specify `speed=12000000` and it later says `Given speed 2000000 did not work`. Is this how it's displayed on your side?

2. Unfortunately the reset logic isn't fully reliable. It's especially tricky on UART since we cannot rely on a sideband reset (as we can with USB for example). Getting this fixed requires a bit of debugging on the GLIP code.

3. As workaround

[2019-07-17 17:41] panchapandava opened #180 "Query about peripheral integration"
Hello,

I am just wondering what are the required modifications to hook up a wishbone compatible peripheral like AES/DSP block to the network adapter of the OptimSoC and make it functional/accessible as a slave to the master i.e. mor1kx?  Is it similar to connecting the in flit / out flit signals of the network adapter to the peripheral like the SRAM through a memory adapter?
Any suggestion would

[2019-08-12 15:53] imphil commented on #180
You only need to add the peripheral to the bus within compute_tile_dm.sv, and you need to change the bus configuration to have room for one more slave (here: https://github.com/optimsoc/optimsoc/blob/master/src/soc/hw/compute_tile_dm/verilog/compute_tile_dm.sv#L414)

[2019-08-21 05:03] APDNath commented on #180
Thanks much for the reply. I am just wondering what kinda change/wrapper addition is required to the accelerator tile to make it compatible to the NoC protocol and message passing so that there is no requirement for the wishbone bus. Also, are you guys planning to release such an accelerator tile in the near future? I have attached a slide from your presentation for reference.
![Capture](https://u

[2019-08-21 11:48] imphil commented on #180
There's no example of such an accelerator currently available. There is documentation at https://www.optimsoc.org/docs/master/refman/networkonchip.html#transmission-packet-format about the NoC format, you can use that together with the building blocks we have in OpTiMSoC to build your own accelerator.

[2019-08-21 14:07] panchapandava commented on #180
Thank for the quick reply. It’s a useful piece of information.

[2019-08-21 14:07] #180 closed

[2019-10-08 08:00] lucasandradecb opened #181 "Invalid website digital SSL certificate"
Hello,
I am working on some projects using your OptimSoc tool. However yesterday, when trying to access the site (https://optimsoc.org/docs/master/refman/porting.html) I received the 404 message from the browser, in addition to the unsafe site information due to problems with the invalid SSL certificate. When checking by the browser it was renewed on 06/10/2019, but it was not validated. With this

[2019-10-08 08:01] wallento commented on #181
Hi, sorry, it is temporarily down. It will return asap.

[2019-10-15 05:04] wallento commented on #181
Sorry, forgot to ping you. The issue was fixed, thanks again.

[2019-10-15 05:04] #181 closed

[2019-11-14 10:35] lucasandradecb commented on #154
Hello, I'm Lucas Andrade and I'm working with @ppenna  on a [Nanvix](https://github.com/nanvix/optimsoc) project that is portable to the OptimSoc platform.

When working with your OptimSoc master project, I identified that the system_2x2_cccc_nexys4ddr design was disabled.

However I found that when using Vivado WebPack 2019.1 and the command _**'make BUILD_EXAMPLES = yes BUILD_EXAMPLES_FPGA = yes

[2019-11-14 10:49] imphil commented on #154
Thanks for confirming that it works now @lucasandradecb!

Most likely this was fixed by a updated mor1kx version in https://github.com/optimsoc/optimsoc/commit/82331f854f7aad11278716c008f388370641bc71 (RAM wasn't inferred properly).

I did a PR in #183 to re-enable that build.

[2019-11-14 10:49] #154 closed

[2019-11-25 15:52] imphil opened #184 "Doc build failure, possibly due to Python package updates"
See https://travis-ci.org/optimsoc/optimsoc/builds/616690987?utm_medium=notification&utm_source=email

We see this in unchanged code on Travis and in internal CI, so it's an external dependency that changed.

[2019-11-25 15:52] imphil commented on #184
It started to fail 2 days ago.

[2019-11-25 15:54] imphil commented on #184
[code]

[2019-11-25 16:03] imphil commented on #184
OK, so this falls together with setuptools 42.0.0 being released, with 42.0.1 being released a couple hours ago with a wheel-related fix. Let's see if that unbreaks us.

[2019-11-25 16:17] imphil commented on #184
OK, setuptools 42.0.1 doesn't solve the problem, https://travis-ci.org/optimsoc/optimsoc/builds/616755658?utm_medium=notification&utm_source=email still fails.

[2019-11-25 18:41] benoit-pierre commented on #184
See https://github.com/pypa/setuptools/issues/1919.

[2019-11-26 13:05] imphil commented on #184
@benoit-pierre thanks for the pointer. What I don't understand: if wheel is required, why isn't it installed just like any other dependency?

[2019-11-26 16:06] benoit-pierre commented on #184
It's not always required, you don't need it to install already built wheels, or to build wheels for packages using PEP 517/518. Trying to automatically install it could lead to other issues.

[2019-12-02 09:33] #184 closed

[2019-12-21 01:53] IMVector opened #186 "osd-target-run: error while loading shared libraries: libczmq.so.3: cannot open shared object file: No such file or directory"
when I try to run Linux on OpTiMSoC, I found this error and I can't resove it，Can anyone help me out？

[2019-12-21 09:13] imphil commented on #186
You need to install libczmq, which is part of zero mq. Which distribution are you using? How did you obtain optimsoc?

[2019-12-21 11:36] IMVector commented on #186
My system is Ubuntu 18.04, I got the optimsoc from https://www.optimsoc.org/docs/master/user_guide/tutorials.html#run-linux-on-optimsoc

I solved the problem, but here comes a new problem.
when I try to run linux on my board
I got this
------------------------------------------------------------------------------------
[INFO]  osd-target-run: iniparser: cannot open /etc/osd/osd.conf
[INFO]  osd-ta

[2019-12-21 11:40] imphil commented on #186
Your log doesn't show any error, it seems to work as expected. Did you try the hello world example before trying Linux? How do you know that booting linux didn't work? Did you connect via UART? What are the log files (systrace*.log) showing?

[2019-12-21 12:46] IMVector commented on #186
systrace*.log shows nothing and I didn't get the information of  DEM-UART pseudo-terminal available at /dev/pts/"number". I am a new learner and don't know what is UART, I run the hello world example successfully, but when I try to run Linux , I didn't get the result as the tutorials

------------------------------------------------------
Watch the output of this command. If all goes well the outp

[2019-12-21 13:02] IMVector commented on #186
systrace*.log shows nothing and I didn't get the information of DEM-UART pseudo-terminal available at /dev/pts/"number". I am a new learner and don't know what is UART, I run the hello world example successfully, but when I try to run Linux , I didn't get the result as the tutorials
-------------------------------------------------------------------------------------------------------
Watch the ou

[2020-01-06 21:47] imphil commented on #186
UART is a serial console. Please google it.

To access a serial console, you need to use an appropriate program, like screen. There are many more options, please google for it.

[2020-01-07 08:21] IMVector commented on #186
Thank you very much ， I try it last time，but the result shown as above.

[2020-02-11 14:57] panchapandava opened #187 "Testbench for OptimSoC"
Hello,

I am just wondering if it is possible to get some pointers on the system-level testbench (preferably Verilog/SystemVerilog) available for OptimSoC. I couldn't find any in the repository.
Also, I am not sure how to use "optimsoc/test/systemtest/test_tutorial.data" to exercise different test cases. Any help would be appreciated.

Thanks!

[2020-02-11 15:01] imphil commented on #187
The system tests are python-based tests running on a complete Verilator and FPGA system. You can find a blog post about the complete setup here: https://optimsoc.org/blog/2018/12/18/ci.html

Effectively, you run those tests through pytest, as shown here: https://github.com/optimsoc/optimsoc/blob/master/Dockerfile#L32

[2020-02-11 15:14] panchapandava commented on #187
Thanks much for the quick reply. I will run the python-based tests. Also, can you please comment on the feasibility of writing Verilog/SystemVerilog-based directed testbench for OptimSoC? As in how complex the task would be?

[2020-02-11 15:17] imphil commented on #187
It really depends on what you want to test. To reach 100% coverage on OpTiMSoC, you're looking for a project of a year at least.

[2020-02-11 15:21] panchapandava commented on #187
Thanks again for the suggestion. I guess I will try out random and constraint random testbenches to reduce the complexity of the task.

[2020-02-11 15:21] #187 closed

[2020-03-17 13:48] koenenwmn commented on #119
Did you have any further thoughts on this in the meantime? For the hybrid NoC I'd like to use the same header format for the packet switched traffic in order to be fully compatible.

I think 10 bits  for the IDs sound reasonable. One thought I had, though, is whether it would make sense to use Logic-based distributed routing (LBDR) rather than routing tables which get quite large with bigger NoCs?

[2020-11-03 18:05] hchenji opened #189 "optimsoc & synopsys vcs and DC; packet format change to 10 bit src/dst"
Hi all, great project!

I'm trying to use optimsoc in the synopsys toolchain and I'm seeing errors. In VCS I got the errors to go away by replacing the always_ff block in sram to an always block. Then, the clog2 function within an array access was extracted to a separate variable.

However, the resulting vcs binary fails to correctly simulate the NoC while the same code works well in verilator. Wh

[2020-11-07 11:48] deadspace99 opened #190 "VCS Compilation Errors"
I'm trying to compile this design for VCS and use the basic testbench tb_system_2x2_cccc.sv but it's not finding the packages even though they're in the filelist.  What could the issue be related to?

$OPTIMSOC_HOME/optimsoc-2018.1-src/external/opensocdebug/hardware/interfaces/common/dii_channel.sv
$OPTIMSOC_HOME/optimsoc-2018.1-src/external/opensocdebug/hardware/interfaces/common/dii_channel_flat

[2020-11-08 10:57] deadspace99 commented on #189
Hello, I too downloaded this to run through VCS but it looks like you were able to get it through with some modifications.  I had to build a .f filelist  from looking through the hierarchy and the instantiations but I'm running into some errors related to the functions used.  Did you also run into these errors?  Is there a .f that you can share that I can cross-check to make sure nothing was misse

[2020-11-09 17:13] hchenji commented on #189
I actually use fusesoc to build the vcs version. First, use this version of my forked repo, which has modified .core files to include vcs as a tool: https://github.com/hchenji/optimsoc/commit/7c64becea0f2d03b8fd1b1c7548a4b6807e6114f

Next, build optimsoc as usual using build.py so that the objdir folder and tree is created. Then, use this script in an empty directory (it could be anywhere) to get

[2020-11-20 08:04] deadspace99 commented on #189
Thanks for the guidance.  I was able to get the VCS compile but I don't have the .vmem file.  Could you explain what your reference to the baremetal_apps is and how to generate this?

[2020-11-24 00:01] hchenji commented on #189
in the optimsoc tutorial, the baremetal-apps repo has code to generate binaries which will run on the cpu cores in each tile. Filename ends in vmem. Just take that and use it for vcs.

[2020-11-25 23:28] imphil commented on #189
@hchenji We have used VCS for parts of the development, but probably never ran a w hoel

[2020-11-25 23:32] imphil commented on #189
@koenenwmn have you been using VCS more recently? If you have relevant changes, could you push them as well?

[2020-12-02 19:23] koenenwmn commented on #189
Only for the cocotb CI tests, never for a full system. And recently I only worked with Verilator simulations and Vivado synthesis.

[2020-12-10 15:52] hchenji commented on #189
Running hello world.vmem with vcs. Using trace, the CPU is stuck in this loop of instructions and never terminates. Any guess why this happens with vcs but not verilator?

[code]

[2020-12-10 17:53] hchenji commented on #190
you need to extract `index2string((t*CONFIG.CORES_PER_TILE)+i)}` to a separate local variable and then use it. VCS seems to complain about nesting functions in general - it prefers simple variables as arguments.

[2021-01-16 02:53] hchenji commented on #189
I was able to get compute_tile_dm to synthesize in synopsys DC. The main change was to disable per-tile SRAM by setting ENABLE_DRAM to 0 in the config since it slowed things down. Next, in mor1kx, the true dual port single clock ram was throwing errors. I had to force a single clk variable, and put both ports into a single always block. the _dm module needs to have a derived CONFIG since the tb is

[2022-03-16 20:22] hchenji opened #191 "verilating compute_tile with 4GB RAM"
I get an error when I set LMEM_SIZE in tb_comptue_tile to `LMEM_SIZE = int'(2048*1024*1024);`. When I try to compile it, I get:

[code]

Is this a verilator issue? Is there a better way to simulate memory on optimsoc/verilator?